<h1>Listing competence</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @competences.each do |competence| %>
    <tr>
      <td><%= competence.title %></td>
      <td><%= competence.parent ? category.parent.title : '---' %></td>
      <td><%= link_to 'Show', competence %></td>
      <td><%= link_to 'Edit', edit_competence_path(competence) %></td>
      <td><%= link_to 'Destroy', competence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Competence', new_competence_path %>
